.menu-ocultar{
  width: 100%;
  background-color:#405189;
  height: 10px;
}
.ng-show {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
@media(max-width: 991px) {
    .minimizer {
      display: block;
      width: 100%;
    }
  }

.opacity{
  background-color: #ffffffb5;
}



