<div #tab class="container-fluid " [@openClose]="tabhide ? true : false" [formGroup]="form">
  <div #ocultar class="menu-ocultar aling-components">

    <button type="button" id="button-menu" class=" btn-primary  btn-menu" (click)="datashow()">
      <span [class]="icon"></span>
    </button>

  </div>

  <div [hidden]="tabhide">
    <div class="panel-heading opacity">
      <!-- <div class="btn-group aling-components minimizer" role="group" aria-label="Basic example"> -->
      <div class="btn-toolbar minimizer aling-components" aria-label="Toolbar with button groups">
        <div class="example-button-row ">

          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-volume-off"></span>
            Silenciar PC
          </button>
          <!-- Modal -->

          <button type="button" class="btn  btn-primary margin-menu">
            <span class="glyphicon glyphicon-trash"></span>
            Borrar</button>


          <button type="button" class="btn  btn-primary margin-menu">Atender Sirenas</button>

          <button type="button" class="btn  btn-primary margin-menu">Atendida</button>


        </div>
        <div class="form-group">

          <select class="form-control">
            <option> </option>
            <option>Mantenimiento</option>
            <option>Seguridad</option>
            <option>Limpieza</option>

          </select>
        </div>
        <button mat-icon-button aria-label="Añadir Emergencia" class="md-48">
          <mat-icon>add_alert</mat-icon>
        </button>









      </div>
      <!--TABLE-->
      <div class="panel-body padding-box mia">

        <table class="table table-striped">
          <thead class="">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Backcolor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alerta of alertas ">
              <ng-container>
                <td>{{alerta.nombre}}</td>
                <td>{{alerta.backColor}}</td>

              </ng-container>

            </tr>
          </tbody>

        </table>


        <!--   <table class="table table-striped">

          <thead class="">
            <tr>
              <th scope="col">Fecha Recepción</th>
              <th scope="col">Mensaje</th>
              <th scope="col">Recurso</th>
              <th scope="col">Plano</th>
            </tr>
          </thead>
          <tbody>
            &lt;!&ndash; <tr *ngFor="let country of countries; index as i"> &ndash;&gt;
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                      style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td>holaaa</td>
              <td>holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td class="col-xs-2">
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                        style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td class="col-xs-2">
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                          style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
            <tr>
              <th class="col-xs-2" scope="row">{{ i + 1 }}</th>
              <td>
                &lt;!&ndash; <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                            style="width: 20px"> &ndash;&gt;
                holaaa
              </td>
              <td class="col-xs-2">holaaa</td>
              <td class="col-xs-2">holaaa</td>

            </tr>
          </tbody>
        </table>-->
      </div>


    </div>

  </div>




</div>