<p-toast></p-toast>
<div toastContainer></div>
<div class="">
  <section class="">
    <!-- <section class="content-header"> -->

    <h1 class="">

      <span class="h3">{{nombrePlano}}</span>
      <button id="alert" class="btn " (click)="showSuccess()">
        .
      </button>

    </h1>


  </section>

  <!-- <section class="content" [ngStyle]="escalado"> -->
  <div class="content px-2">


    <div class="container-fluid row">

      <div class="col-xl card">


        <div>
          <img #imgprincipal class="img-responsive img-princi" [src]="imagePath" (load)="onImageLoad()" /> 
          <!-- <img class="img-princi" [src]="'assets/img/'+fondo"  /> -->
        </div>
        <div>
          <div *ngFor="let comp of planos2; let i = index"
            [ngStyle]="{'top' :comp.recursoPlano.posY+'px', 'left': comp.recursoPlano.posX+'px','position':'absolute'}"
            [ngSwitch]="comp.recursoPlano.tipoRecurso">


            <ng-template #popTemplate>

              <p>{{comp.texto}}</p>
              <p>Pkid {{comp.PKid}}</p>
              <!-- <p>Y:{{comp.recursoPlano.posY}}</p> -->
              <p>{{i}}</p>
              <p>tipo recurso:{{comp.recursoPlano.tipoRecurso}}</p>
              <p>imagen: {{comp.recursoPlano.iconoRecurso}}</p>
              <div [innerHtml]="html" placement="auto"></div>
            </ng-template>


            <!-- etiqueta del titullo del plano -->
            <!--  <div class="etiqueta-plano" *ngSwitchCase="'27'">
                  <span>{{comp.texto}} </span>
                </div> -->



            <!-- <nav class="menu" [ngStyle]="{'z-index': zIndex}">-->

            <nav class="menu " #nav [ngStyle]=" {'z-index': 1}" (dblclick)="openEditDialog(comp)">
              <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open-{{i}}"
                (click)="changezindex(nav)" />

              <!-- sensor -->
              <ng-container *ngSwitchCase="'4'">
                <label class="menu-open-button img-fluid " for="menu-open-{{i}}" [popover]="popTemplate"
                  container="body" triggers="mouseenter:mouseleave" [ngStyle]="{'background-color':comp.backColor}">
                  <!-- <span class="hamburger hamburger-1"></span>
                    <span class="hamburger hamburger-2"></span>
                     <span class="hamburger hamburger-3"></span> -->
                  <!-- <img class="img-comp" src=" imagePathIcon + comp.recursoPlano.iconoRecurso" /> -->
                </label>

                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-bar-chart"></i>
                </a>
                <a class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i class="fa fa-plus"></i>
                </a>
                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-heart"></i>
                </a>
                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-envelope"></i>
                </a>
                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-ellipsis-h"></i> </a>
              </ng-container>


              <ng-container *ngSwitchCase="'16'">
                <label class="menu-openB img-fluid" for="menu-open-{{i}}" [popover]="popTemplate" container="body"
                  triggers="mouseenter:mouseleave" [ngStyle]="{'background-color':red}">
                  <!-- <span class="hamburger hamburger-1"></span>
                    <span class="hamburger hamburger-2"></span>
                    <span class="hamburger hamburger-3"></span> -->
                  <!-- <img class="img-comp" src=" imagePathIcon + comp.recursoPlano.iconoRecurso" /> -->
                </label>

              </ng-container>


              <!-- sirena -->
              <ng-container *ngSwitchCase="'6'">
                <label class="menu-open-button img-fluid" for="menu-open-{{i}}" [popover]="popTemplate" container="body"
                  triggers="mouseenter:mouseleave" [ngStyle]="{'background-color':comp.backColor}">

                </label>

                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-bar-chart"></i>
                </a>
                <a class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i class="fa fa-plus"></i>
                </a>
                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i
                    class="fa fa-heart"></i>
                </a>

                <a href="#" class="menu-item" [ngStyle]="{'background-color':comp.backColor}"> <i class="fa fa-cog"></i>
                </a>

              </ng-container>

              <ng-container *ngSwitchDefault>


                <label for="menu-open-{{i}} " class="img-fluid" [popover]="popTemplate" container="body"
                  triggers="mouseenter:mouseleave" [ngStyle]="{'background-color':comp.backColor}">

                  <!-- <img class="img-comp" src=" imagePathIcon + comp.recursoPlano.iconoRecurso" /> -->
                </label>
              </ng-container>
            </nav>


            <!-- filters -->








          </div>
        </div>

      </div>

    </div>

  </div>



</div>