@import '~compass-mixins/lib/compass/css3';


//vars
$fg:#ffc107;
$bg:#009688;
$pi:3.14;

//config
$menu-items:4;
$open-distance:20px;
$opening-angle:$pi*2;

body{
  background:$bg;
  color:white;
  text-align:center;
}
a{
  color:inherit;
}

.img-comp{
  width: 40px;
  height: 40px;
  
}
%goo{
  filter:url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:40px;
  height:40px;
  margin-left:0px;
  position:absolute;
  top:0px;
  color:white;
  text-align:center;
  // line-height:0px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
  
}
.hamburger{
  $width:10px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
.menu{
  @extend %goo;
  $width:50px;
  $height:10px;
  position:absolute;
  left:0%;
  margin-left:-10px;
  padding-top:20px;
  padding-left:10px;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}


.menu-item{
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
/*  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;*/
}
.menu-openB{
  @extend %ball;
  z-index:2;
/*  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;*/
}
.menu-open-button:hover,.menu-openB:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  /*z-index:1;*/
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(80ms*$i);
      transform:translate3d((40px*$i),0,0);
    }
  }
}

.etiqueta-plano{
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 5px;
  text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
  // -webkit-border-radius: 12px;
  // -moz-border-radius: 12px;
  // border-radius: 12px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
  background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
  background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
  background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
  // -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.36);
  // -moz-box-shadow:    2px 2px 1px rgba(50, 50, 50, 0.36);
  // box-shadow:         2px 2px 1px rgba(50, 50, 50, 0.36);
  -webkit-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.33);

  -moz-border-radius-topleft: 90px;
  -webkit-border-top-left-radius: 90px;
  border-top-left-radius: 90px;
  -moz-border-radius-topright: 90px;
  -webkit-border-top-right-radius: 90px;
  border-top-right-radius: 90px;
  -moz-border-radius-bottomright: 90px;
  -webkit-border-bottom-right-radius: 90px;
  border-bottom-right-radius: 90px;
  -moz-border-radius-bottomleft: 90px;
  -webkit-border-bottom-left-radius: 90px;
  border-bottom-left-radius: 90px;

}
.cls-1 {
  fill: url(#linear-gradient);
}

.cls-2 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 1.27px;
  stroke: url(#linear-gradient-2);
}

.cls-3 {
  opacity: 0.5;
}

.cls-4 {
  fill: url(#linear-gradient-3);
}

.cls-5 {
  font-size: 30px;
  fill: #fff;
  font-family: CaviarDreams;
}

.cls-6 {
  letter-spacing: 0.01em;
}
.titulo-plano{
  // text-align: center;
  background-color: #F9FAFC;
  // text-align: -webkit-center;
  // font-family: "Roboto", sans-serif !important ;
  
}

.titulo-plano2{
  width: 210px;
  // border-bottom: 5px groove #1C6EA4;
  // border-radius: 0px 0px 40px 40px;
  background-color: #F9FAFC;
  color: #6c757d;
 
  span{
    
    text-transform: uppercase;
    // font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0;
  }

}

.box-body{
  background-color: #F9FAFC !important;
}
