
$bg-color:#f2f3f8;
$bg-color:#f2f3f8;
$navbar-bg-color : #242939;
$navbar-color:#6e7899;
$sidebar-bg-color:#fff;
$sidebar-color:#3d4465;
$sidebar-icon-color:#c4cff9;
$border-color: #f2f3f8;

@import "./src/assets/partials/variables";
.green{
    background-color: green;
    color: white;
    
  }
  .red{
    background-color: red;
    color: white;
    font-size: 24px;
  }
  .yellow{
    background-color: yellow;
    color: black;
  
  }
  .ocultar{
    visibility: hidden;
  }
  .mostrar{
    visibility: visible;
  }
  
  .full-height {
    /*height: 100%;*/
    /* background: yellow; */
    /* overflow: scroll; */
    /*min-height: 100%;*/
    display: block;
    max-width: 100%;
    height: 500px;
  }
  
   .wrapper{
    display: flex;
    /* width: 17%; */
    /*align-items: stretch;
  } 
  #sidebar {
    
    /* min-width: 250px;
    max-width: 250px; */
    /* min-height: 61vh; */
    background-color:blue;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }

.menu_sidebar{
  height: 54px;
  text-align: center !important;
}

.modsidebar{
  text-align: center;
}


/* .node-wrapper{
  margin: 10px 0 10px !important;
  padding: 0 !important;
} */

p{
  margin: 0 !important;
  
}

tree-viewport {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow: auto;
  display: block;
  font-size: 1.1em;
  
}
.tree-children { padding-left: 20px }
 

/* .wrapper main{
  display: flex;
  height: 100%;
  position: relative;
}
 */

 .main-sidebar{
  z-index: 999!important;
}


