<div class="sidebar shadow-sm ">

  <mk-box [isCollapsable]="false" [isRemovable]="false">
    <!-- <ul class="nav nav-tabs padding-menu" role="tablist">
      <li class="active"><a class="padding-menu" data-toggle="tab" href="#Planos"><span>Planos</span></a></li>
      <!-- <li><a class="padding-menu" data-toggle="tab" href="#menu1"><span>Menu 1</span></a></li>
      <li><a class="padding-menu" data-toggle="tab" href="#menu2"><span>Menu 2</span></a></li> 
    </ul> -->



    <div id="Planos" class="tab-pane fade in active full-height ">

      <tree-root #tree [focused]="true" [nodes]="nodes" [options]="options" (initialized)="onUpdateData(tree, $event)"
        (updateData)="onUpdateData(tree, $event)">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <!--class="menu_sidebar"-->
          <div class="modsidebar">
            <p>
              <span id="node_{{node.data.PKid}}" class=" " (click)="openPlano2($event,node.data)"
                [ngStyle]="{'background-color':node.data.backColor}">{{ node.data.nombre }}</span>
              <!-- <span id="node_{{node.data.PKid}}" class=" " (click)="openPlano2($event,node.data)" [ngStyle]="{'background-color':node.data.backColor}" matBadge="4" matBadgeOverlap=false matBadgeColor="warn">{{ node.data.nombre }}</span> -->
            </p>
          </div>
          <!--<button (click)="go($event)">Custom Action</button>-->
        </ng-template>
      </tree-root>

    </div>


    <!-- <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
      </div> -->



  </mk-box>

</div>