<a href="index3.html" class="brand-link">
  <img src="./assets/img/eci-triangulo-logo.png" alt="Ker" class="brand-image img-circle elevation-3" style="opacity: .8">
  <span class="brand-text font-weight-light">Ker</span>
</a>

<div class="sidebar  ">
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">

    <div class="image">
      <img src="./assets/img/user.jpg" class="img-circle elevation-2" alt="">
    </div>

    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <nav class="mt-2 ">


    <div class="menu-header mt-3 mb-2">
      Planos
    </div>
    <div id="Planos" class=" nav nav-pills nav-sidebar nav-compact flex-column nav-child-indent">

      <tree-root #tree [focused]="true" [nodes]="nodes" [options]="options" (initialized)="onUpdateData(tree, $event)"
        (updateData)="onUpdateData(tree, $event)" >
        <ng-template #treeNodeTemplate let-node let-index="index" class="nav-item">
          <!--class="menu_sidebar"-->

          <div (click)="openPlano2($event,node.data)" [ngStyle]="{'background-color':node.data.backColor}" class="nav-link pt-0 pb-0 pl-1">
            <span id="node_{{node.data.PKid}}" class=" nav-link menu-open">{{ node.data.nombre }}</span>
            
            <!-- <span id="node_{{node.data.PKid}}" class=" " (click)="openPlano2($event,node.data)" [ngStyle]="{'background-color':node.data.backColor}" matBadge="4" matBadgeOverlap=false matBadgeColor="warn">{{ node.data.nombre }}</span> -->
          </div>

          <!--<button (click)="go($event)">Custom Action</button>-->
        </ng-template>
      </tree-root>

    </div>


    

  </nav>

</div>