<div class="wrapper">

  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white ">
    <div class="container">
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">


          <!--  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> -->
          <!-- <fa-icon class="icon-size-menu color" [icon]="faFirstAid"></fa-icon> -->
          <!--  Emergencia
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <a class="dropdown-item" href="#">

                Emergencia</a>
              <a class="dropdown-item" href="#" (click)="onAnularAlarmas($event)">Anular Sirenas</a>

            </div>
          </li> -->


          <li class="nav-item ">
            <!-- <a class="nav-link" (click)="mostrarSidebar()" ></a> -->
            <a class="nav-link pt-0" data-widget="pushmenu" data-auto-collapse-size="768">
              <fa-icon [icon]="faMap" class="fa-2x color "></fa-icon>
            </a>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pt-0" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faInfoCircle" class="fa-2x color"></fa-icon>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <a class="dropdown-item" href="#" data-toggle="modal" (click)="openModal(template1)">Leyenda de
                colores</a>

              <!-- MODAL -->
              <ng-template #template1>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Leyenda de colores</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>Intrusión</h3>
                  <table class="table text-center">

                    <tbody>
                      <tr>

                        <td>
                          <div class="color-vigilado"></div>
                        </td>
                        <td>Vigilado</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-autcerrado"></div>
                        </td>
                        <td>Autorizado Cerrado</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-autabierto"></div>
                        </td>
                        <td>Autorizado Abierto</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-alarma"></div>
                        </td>
                        <td>Alarma</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-sabotaje"></div>
                        </td>
                        <td>Sabotaje</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-inhibido"></div>
                        </td>
                        <td>Inhibido</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-sinconexion"></div>
                        </td>
                        <td>Sin conexión</td>

                      </tr>
                    </tbody>
                  </table>

                </div>
              </ng-template>

              <a class="dropdown-item" href="#" data-toggle="modal" (click)="openModal(template2)">Acerca de Argos</a>

              <ng-template #template2>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Acerca de Argos</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">

                  <div class="card border border-warning" style="width: 22rem;">
                    <img src="../assets/img/logo_grupoOKpeq.png" class="card-img-top" alt="Mega2 logo">
                    <div class="card-body ">
                      <div class="center-block text-center">
                        <p class="card-text">Argos V2019.01</p>
                        <p class="card-text">isisClient V103</p>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-template>

              <a class="dropdown-item" href="#" data-toggle="modal" (click)="openModal(template3)">Acerca de Ker</a>

              <ng-template #template3>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Acerca de Ker</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <div class="center-content">
                    <div class="caja ">
                      <span> V2019.01.00 </span>
                    </div>
                  </div>
                  <div>
                    <table class="table table-striped w-auto">

                      <tbody>
                        <tr>
                          <td>Tiempo de espera de reconocimiento de tarjeta</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Puerto TXBluekey</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Puerto RXBluekey</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tablas Excluidas Backup</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Meses Mantenimiento Vistas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Max. Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Max. Alarmas Respuestas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Time Out Protocolo TAS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Num. Reenvios Protocolo TAS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Encapsula Protocolo Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Puerto Servidor Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Puerto Alarmas Dpslp</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Uso Dirección Alarmas Tas BBDD</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Meses Mantenimiento Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tiempo Actualización Módulos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tiempo Inactividad Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Tiempo Actualización Entradas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Tiempo Actualización Salidas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Restaurar Conmutaciones</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Licencias Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Segundos para error de comunicaciones de servidor XMLRPC</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Reenvios Nkf</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión de la Base de Datos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión BD mínima de ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Fecha de lanzamiento de ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión API ARGOS-ISIS</td>
                          <td> BBDD</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>

                </div>
              </ng-template>


              <a class="dropdown-item" href="#">Ayuda</a>

            </div>
          </li>


        </ul>
      </div>
      <ul class="order-1 order-md-3 navbar-nav  ml-auto">

        <li class="nav-item ">
          <!-- <a class="nav-link" (click)="mostrarSidebar()" ></a> -->
          <a class="nav-link pt-0">
            <fa-icon [icon]="faBell" class="fa-2x color" (click)="onAnularAlarmas($event)"></fa-icon>
          </a>

        </li>
      </ul>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Call me whenever you can...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I got your message bro</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">The subject goes here</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
              class="fas fa-th-large"></i></a>
        </li>
      </ul>








      <!---->


      <!-- <app-header-inner class="height"></app-header-inner> -->
      <div class="float-right">
        <div class=" btn-group dropdown">
          <button id="button-login" type="button" class="dropdown-toggle btn-login btn-secondary" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <fa-icon class="" [icon]="faUserAstronaut"></fa-icon>
          </button>

          <ul class="dropdown-menu" aria-labelledby="button-login">
            <li><a [routerLink]="['/tool']" routerLinkActive="active" class="dropdown-item" href="#">Cambio de
                usuario</a>
            </li>
            <li><a class="dropdown-item" href="#">Cambio de contraseña</a></li>

          </ul>
        </div>

      </div>
    </div>
  </nav>




  <!--CONTENIDO-->

  <!-- <aside class="main-sidebar elevation-4 sidebar-light-fuchsia " [hidden]=" !sidebarhide" [@openClose]="sidebarhide ? true : false"> -->
  <aside class="main-sidebar elevation-4 sidebar-light-fuchsia shadow-sm">


    <app-sidebar (changePlanoAlertas)="onChangePlanoAlertas($event)" (changePlano)="onChangePlano($event)"
      (mensajeAlerta)="OnMensajeAlert($event)"></app-sidebar>

  </aside>
  <div class="content-wrapper px-4 py-2 ">

    <!-- <app-plane-list [parentDiv]="principal" #mainemployeelist></app-plane-list> -->
    <app-plane-list></app-plane-list>

  </div>

  <div class=" footer fixed ">
    <app-alert-tab [alertas]="alertas"></app-alert-tab>

  </div>
  <div class="overlay" (click)="mostrarSidebar()"></div>





</div>