<!-- <ng-template #content let-c="close" let-d="dismiss" class="modal">

    <div class="modal-header py-1">
        <h4 class="modal-title" id="modal-basic-title">Añadir nuevo usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="container">
            <div #formUser class="needs-validation" (ngSubmit)="onSubmit(formUser)">
                <div class="row mb ">
                    <div class="col-12  col-lg-7">
                        <div class="card card-success">
                            <div class="card-header">
                            </div>
                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col-12 col-sm-3 center-content">
                                        <div class="widget-user-image ">
                                            <img class="img-circle elevation-2 img-size-64" src="./assets/img/user.jpg"
                                                alt="Foto usuario">
                                        </div>
                                        <div>
                                            <button type="button" (click)="fileInput.click()"
                                                class="btn border-green btn-tool pt-0 ">
                                                <span><i class="fas fa-upload text-success"></i></span>
                                                <input #fileInput type="file" (change)="onFileInput($event)"
                                                    style="display:none;" />
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12  col-sm-9   ">
                                        <div class="">
                                            <label class="" for="validationCustom01">DNI</label>
                                            <input type="text" [(ngModel)]="fromParent.dni"
                                                class="form-control form-control-sm w-auto ml-1" id="validationCustom01"
                                                required>
                                        </div>
                                        <div class="">
                                            <label class="" for="validationCustom01">Apellidos</label>
                                            <input type="text" [(ngModel)]="fromParent.apellidos"
                                                class="form-control form-control-sm w-auto ml-1 ml-sm-0"
                                                id="validationCustom01" required>

                                        </div>
                                        <div class="">
                                            <label class="" for="validationCustom01">Tipo</label>
                                            <input [(ngModel)]="fromParent.tipoUsuario" type="text"
                                                class=" form-control-sm  w-auto ml-1" id="validationCustom01"
                                                placeholder="2" required readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 align-self-center">
                        <div class="row ">
                            <div class="col-12 col-sm-6 col-lg-12 center-content">
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">F.Nac</label>
                                    <input type="text" [(ngModel)]="fromParent.fechaNacimiento"
                                        class="form-control form-control-sm  ml-3 " id="validationCustom01"
                                        placeholder="" required>
                                </div>
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">Domicilio</label>
                                    <input type="text" [(ngModel)]="fromParent.domicilio"
                                        class="form-control form-control-sm  ml-3" id="validationCustom01"
                                        placeholder="" required>
                                </div>
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">Población</label>
                                    <input [(ngModel)]="fromParent.poblacion" type="text"
                                        class="form-control form-control-sm   ml-3" id="validationCustom01" required>
                                </div>
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">Prov.</label>
                                    <input [(ngModel)]="fromParent.provincia" type="text"
                                        class="form-control form-control-sm   ml-3" id="validationCustom01" required>
                                </div>
                            </div>
                            <div class="col-12  col-sm-6 col-lg-12 center-content">
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">CP</label>
                                    <input type="text" [(ngModel)]="fromParent.codigoPostal"
                                        class="form-control form-control-sm   ml-3" id="validationCustom01">
                                </div>
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">Tlf.</label>
                                    <input type="text" [(ngModel)]="fromParent.telefono1"
                                        class="form-control form-control-sm   ml-3" id="validationCustom01">
                                </div>
                                <div class="d-flex flex-row">
                                    <label class="font-weight-normal" for="validationCustom01">Ext.</label>
                                    <input type="text" [(ngModel)]="fromParent.extension1"
                                        class="form-control form-control-sm   ml-3" id="validationCustom01">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom03">Empresa</label>
                        <input type="text" [(ngModel)]="fromParent.empresa" class="form-control" id="validationCustom03"
                            required>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom04">Dpt.</label>
                        <input type="text" [(ngModel)]="fromParent.fkidDept" class="form-control"
                            id="validationCustom04">

                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom05">Recinto</label>
                        <input type="text" [(ngModel)]="fromParent.idrecinto" class="form-control"
                            id="validationCustom05">

                    </div>
                </div>



                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom01">Código</label>
                        <input type="text" [(ngModel)]="fromParent.codigo" class="form-control" id="validationCustom01">

                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom02">Matrícula</label>
                        <input type="text" [(ngModel)]="fromParent.matriculaVehiculo" class="form-control"
                            id="validationCustom02">

                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="font-weight-normal" for="validationCustom02">Confidencial</label>
                        <input type="text" [(ngModel)]="fromParent.confidencial" class="form-control"
                            id="validationCustom02">

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="font-weight-normal" for="validationCustom03">Observaciones</label>
                        <textarea class="form-control" [(ngModel)]="fromParent.observaciones" aria-label="With textarea"
                            maxlength="100"></textarea>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closeModal('close')">Close</button>
        <button type="button" class="btn btn-primary" (click)="closeModal(fromParent)">Save changes</button>
    </div>

</ng-template> -->

<div class="modal-header">
    <h5 class="modal-title">Nuevo Usuario</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div #formUser class="needs-validation" >
            <div class="row mb ">
                <div class="col-12  col-lg-7">
                    <div class="card card-success">
                        <div class="card-header">
                        </div>
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-12 col-sm-3 center-content">
                                    <div class="widget-user-image ">
                                        <img class="img-circle elevation-2 img-size-64" src="./assets/img/user.jpg"
                                            alt="Foto usuario">
                                    </div>
                                    <div>
                                        <!-- <button type="button" (click)="fileInput.click()"
                                            class="btn border-green btn-tool pt-0 ">
                                            <span><i class="fas fa-upload text-success"></i></span>
                                            <input #fileInput type="file" (change)="onFileInput($event)"
                                                style="display:none;" />
                                        </button> -->
                                    </div>
                                </div>
                                <div class="col-12  col-sm-9   ">
                                    <div class="">
                                        <label class="" for="validationCustom01">DNI</label>
                                        <input type="text" [(ngModel)]="fromParent.dni"
                                            class="form-control form-control-sm w-auto ml-1" id="validationCustom01"
                                            required>
                                    </div>
                                    <div class="">
                                        <label class="" for="validationCustom01">Apellidos</label>
                                        <input type="text" [(ngModel)]="fromParent.apellidos"
                                            class="form-control form-control-sm w-auto ml-1 ml-sm-0"
                                            id="validationCustom01" required>

                                    </div>
                                    <div class="">
                                        <label class="" for="validationCustom01">Tipo</label>
                                        <input [(ngModel)]="fromParent.tipoUsuario" type="text"
                                            class=" form-control-sm  w-auto ml-1" id="validationCustom01"
                                            placeholder="2" required readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 align-self-center">
                    <div class="row ">
                        <div class="col-12 col-sm-6 col-lg-12 center-content">
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">F.Nac</label>
                                <input type="text" [(ngModel)]="fromParent.fechaNacimiento"
                                    class="form-control form-control-sm  ml-3 " id="validationCustom01" placeholder=""
                                    required>
                            </div>
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">Domicilio</label>
                                <input type="text" [(ngModel)]="fromParent.domicilio"
                                    class="form-control form-control-sm  ml-3" id="validationCustom01" placeholder=""
                                    required>
                            </div>
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">Población</label>
                                <input [(ngModel)]="fromParent.poblacion" type="text"
                                    class="form-control form-control-sm   ml-3" id="validationCustom01" required>
                            </div>
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">Prov.</label>
                                <input [(ngModel)]="fromParent.provincia" type="text"
                                    class="form-control form-control-sm   ml-3" id="validationCustom01" required>
                            </div>
                        </div>
                        <div class="col-12  col-sm-6 col-lg-12 center-content">
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">CP</label>
                                <input type="text" [(ngModel)]="fromParent.codigoPostal"
                                    class="form-control form-control-sm   ml-3" id="validationCustom01">
                            </div>
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">Tlf.</label>
                                <input type="text" [(ngModel)]="fromParent.telefono1"
                                    class="form-control form-control-sm   ml-3" id="validationCustom01">
                            </div>
                            <div class="d-flex flex-row">
                                <label class="font-weight-normal" for="validationCustom01">Ext.</label>
                                <input type="text" [(ngModel)]="fromParent.extension1"
                                    class="form-control form-control-sm   ml-3" id="validationCustom01">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom03">Empresa</label>
                    <input type="text" [(ngModel)]="fromParent.empresa" class="form-control" id="validationCustom03"
                        required>

                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom04">Dpt.</label>
                    <input type="text" [(ngModel)]="fromParent.fkidDept" class="form-control" id="validationCustom04">

                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom05">Recinto</label>
                    <input type="text" [(ngModel)]="fromParent.idrecinto" class="form-control" id="validationCustom05">

                </div>
            </div>



            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom01">Código</label>
                    <input type="text" [(ngModel)]="fromParent.codigo" class="form-control" id="validationCustom01">

                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom02">Matrícula</label>
                    <input type="text" [(ngModel)]="fromParent.matriculaVehiculo" class="form-control"
                        id="validationCustom02">

                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-normal" for="validationCustom02">Confidencial</label>
                    <input type="text" [(ngModel)]="fromParent.confidencial" class="form-control"
                        id="validationCustom02">

                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="font-weight-normal" for="validationCustom03">Observaciones</label>
                    <textarea class="form-control" [(ngModel)]="fromParent.observaciones" aria-label="With textarea"
                        maxlength="100"></textarea>
                </div>

            </div>



        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closeModal('close')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="closeModal(fromParent)">Guardar</button>
    </div>