<!-- <nb-card>
    <nb-card-header>
        Usuario Software
    </nb-card-header>

    <nb-card-body class="inline-form-card">
        <div>

            <form class="form-inline">
                <input type="datetime" nbInput fullWidth placeholder="Jane Doe">
                <input type="text" nbInput fullWidth placeholder="Email">
                <nb-checkbox>Remember me</nb-checkbox>
                <button type="submit" nbButton status="primary">Submit</button>
            </form>

            <ngx-datatable class="material" [rows]="rows" [columns]="columns"> </ngx-datatable>
        </div>-->
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table> 
    </nb-card-body>
</nb-card> -->
<p>holi holiii</p>