<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <!-- <mk-layout-wrapper style="position: fixed"> -->
  <mk-layout-wrapper>
    <mk-layout-header class="main-header" [isSidebarLeftToggle]="false" logoLink="/">
      <mk-layout-header-logo><b>MEGA2 </b>Seguridad</mk-layout-header-logo>


      <!-- <app-header-inner class="height"></app-header-inner> -->
      <div class=" btn-group dropleft" dropdown>
        <button id="button-login" dropdownToggle type="button" class="dropdown-toggle btn-login btn-secondary"
          aria-controls="dropdown-login">
          <fa-icon class="" [icon]="faUserAstronaut"></fa-icon>

        </button>
        <ul id="dropdown-login" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-login">
          <li role="menuitem"><a class="dropdown-item" href="#">Cambio de usuario</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Cambio de contraseña</a></li>

        </ul>
      </div>
    </mk-layout-header>
    <!--
            <mk-layout-sidebar-left>
              <app-sidebar-left-inner></app-sidebar-left-inner>
            </mk-layout-sidebar-left>
        -->
    <!--
              <mk-layout-content>
            <mk-layout-sidebar-right>
              <app-sidebar-right-inner></app-sidebar-right-inner>
            </mk-layout-sidebar-right>
            
              <div mk-layout-content-before-header>
                <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
                  <mk-material-bar></mk-material-bar>
                </div>
              </div> 
            </mk-layout-content>
            -->




    <div class="container-fluid  ">
      <div class="row align-self-center ">

        <div class="col col-sm-6 col-xs-12  menu_princi">
          <!-- <div class="btn-group" dropdown> -->
          <div class="style-menu btn-group " dropdown>
            <button id="button-argos" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-menu"
              aria-controls="dropdown-argos">
              <fa-icon class="icon-size-menu color" [icon]="faHome"></fa-icon>
              <span class="color"> Keres </span>
              <fa-icon class="flecha color" [icon]="faCaretDown"></fa-icon>
            </button>

            <ul id="dropdown-emergencia" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-emergencia">
              <li role="menuitem"><a class="dropdown-item" href="#">Restablecer Interfaz</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Salir</a></li>

            </ul>
          </div>

          <!-- <div class="style-menu btn-group " dropdown>
            <button id="button-login" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-menu"
              aria-controls="dropdown-login">
              <fa-icon class="icon-size-menu color"[icon]="faUser"></fa-icon>
              <span class="color"> Login</span>
              <fa-icon class="flecha color" [icon]="faCaretDown" ></fa-icon>
            </button>
            <ul id="dropdown-login" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-login">
              <li role="menuitem"><a class="dropdown-item" href="#">Cambio de usuario</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Cambio de contraseña</a></li>

            </ul>
          </div> -->

          <div class="style-menu btn-group" dropdown>
            <button id="button-emergencia" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-menu"
              aria-controls="dropdown-emergencia">
              <fa-icon class="icon-size-menu color" [icon]="faFirstAid"></fa-icon>
              <span class="color"> Emergencia</span>
              <fa-icon class="flecha color" [icon]="faCaretDown"></fa-icon>
            </button>
            <ul id="dropdown-emergencia" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-emergencia">
              <li role="menuitem"><a class="dropdown-item" href="#">Emergencia</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#" (click)="onAnularAlarmas()">Anular Sirenas</a></li>

            </ul>
          </div>

          <div class="style-menu btn-group" dropdown>
            <button id="button-ayuda" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-menu"
              aria-controls="dropdown-ayuda">
              <fa-icon class="icon-size-menu color" [icon]="faInfo"></fa-icon>
              <span class="color"> Ayuda</span>
              <fa-icon class="flecha color" [icon]="faCaretDown"></fa-icon>
            </button>
            <ul id="dropdown-ayuda" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-ayuda">

              <li role="menuitem">
                <a class="dropdown-item" (click)="openModal(template1)">Leyenda de colores</a>

              </li>

              <!-- MODAL -->
              <ng-template #template1>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Leyenda de colores</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>Intrusión</h3>
                  <table class="table text-center">

                    <tbody>
                      <tr>

                        <td>
                          <div class="color-vigilado"></div>
                        </td>
                        <td>Vigilado</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-autcerrado"></div>
                        </td>
                        <td>Autorizado Cerrado</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-autabierto"></div>
                        </td>
                        <td>Autorizado Abierto</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-alarma"></div>
                        </td>
                        <td>Alarma</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-sabotaje"></div>
                        </td>
                        <td>Sabotaje</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-inhibido"></div>
                        </td>
                        <td>Inhibido</td>

                      </tr>

                      <tr>

                        <td>
                          <div class="color-sinconexion"></div>
                        </td>
                        <td>Sin conexión</td>

                      </tr>
                    </tbody>
                  </table>

                </div>
              </ng-template>


              <li role="menuitem">
                <a class="dropdown-item" (click)="openModal2(template2)">Acerca de Argos</a>
              </li>
              <!-- MODAL -->
              <ng-template #template2>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Acerca de Argos</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">

                  <div class="card border border-warning" style="width: 22rem;">
                    <img src="../assets/img/logo_grupoOKpeq.png" class="card-img-top" alt="Mega2 logo">
                    <div class="card-body ">
                      <div class="center-block text-center">
                        <p class="card-text">Argos V2019.01</p>
                        <p class="card-text">isisClient V103</p>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-template>



              <li role="menuitem"><a class="dropdown-item" (click)="openModal3(template3)">Acerca de Isis</a></li>
              <!-- MODAL -->
              <ng-template #template3>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Acerca de Isis</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <div class="center-content">
                    <div class="caja ">
                      <span> V2019.01.00 </span>
                    </div>
                  </div>
                  <div>
                    <table class="table table-striped w-auto">

                      <tbody>
                        <tr>
                          <td>Tiempo de espera de reconocimiento de tarjeta</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Puerto TXBluekey</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Puerto RXBluekey</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tablas Excluidas Backup</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Meses Mantenimiento Vistas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Max. Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Max. Alarmas Respuestas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Time Out Protocolo TAS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Num. Reenvios Protocolo TAS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Encapsula Protocolo Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Puerto Servidor Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Puerto Alarmas Dpslp</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Uso Dirección Alarmas Tas BBDD</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Meses Mantenimiento Alarmas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tiempo Actualización Módulos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Tiempo Inactividad Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Tiempo Actualización Entradas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Tiempo Actualización Salidas</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Restaurar Conmutaciones</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td>Licencias Argos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Segundos para error de comunicaciones de servidor XMLRPC</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Reenvios Nkf</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión de la Base de Datos</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión BD mínima de ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Fecha de lanzamiento de ISIS</td>
                          <td> BBDD</td>
                        </tr>
                        <tr>
                          <td> Versión API ARGOS-ISIS</td>
                          <td> BBDD</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>

                </div>
              </ng-template>




              <li role="menuitem"><a class="dropdown-item " href="#">Ayuda</a></li>

            </ul>

          </div>
          <div class="btn-group">
            <button type="button" id="button-menu" class="btn btn-menu" (click)="mostrarSidebar()">
              <!-- <fa-icon [icon]="faBars"></fa-icon>  -->
              <fa-icon [icon]="faMap" class="fa-2x color "></fa-icon>

            </button>

          </div>
        </div>
        <div class="col col-sm-4 col-xs-12  menu_princi aling-components ajustar-menu ">



          <app-header-inner></app-header-inner>




        </div>
      </div>
    </div>







    <!--CONTENIDO-->

    <!-- <router-outlet></router-outlet> -->

    <main>



      <div class=" container-fluid pt-4 pb-4 pl-4 pr-4 ">

        <div id="" class=" nav  " [hidden]="!sidebarhide" [@openClose]="sidebarhide ? true : false">


          <app-sidebar (changePlano)="onChangePlano($event)" (mensajeAlerta)="OnMensajeAlert($event)"></app-sidebar>

        </div>
        <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4  ">

          <app-employee-list [parentDiv]="principal" #mainemployeelist></app-employee-list>

        </div>

      </div>


    </main>
    <!-- <div class="row">
        <app-alert-tab></app-alert-tab>

      </div> -->
    <div class=" footer fixed">
      <app-alert-tab></app-alert-tab>

    </div>











    <!-- <mk-layout-footer>
      <mk-layout-footer-left>
        <strong>Powered by <a href="http://almsaeedstudio.com">AdminLte</a>.</strong>
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 2.4.2
      </mk-layout-footer-right>





    </mk-layout-footer> -->


  </mk-layout-wrapper>


</ng-template>