<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0">Llaves</h5>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Tool</a></li>
                        <li class="breadcrumb-item">User</li>
                        <li class="breadcrumb-item active">Llaves-Codigos</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <section class="content">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example1"
                        class="table row-border table-hover dataTable dtr-inline compact">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Código</th>
                                <th>Tipo</th>
                                <th>Usuario</th>
                                <th>Estado Temp.</th>
                                <th>Válido Desde</th>
                                <th>Válido Hasta</th>
                                <th>Baja Desde</th>
                                <th>Baja Hasta</th>
                                <th>Plantilla</th>
                                <th>Grupo Usuarios</th>
                                <th>Aviso</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recurAc of recursosAcceso" onclick="">
                                <td class="p-1">{{ recurAc.pkfkid }}</td>
                                <td class="p-1">{{ recurAc.codigo }}</td>
                                <td class="p-1">{{ recurAc.tipo }}</td>
                                <td class="p-1">{{ recurAc.idUsuarioAcceso }}</td>
                                <td class="p-1">{{ recurAc.estadoTemp }}</td>
                                <td class="p-1">{{ recurAc.validaDesde }}</td>
                                <td class="p-1">{{ recurAc.validaHasta }}</td>
                                <td class="p-1">{{ recurAc.bajaDesde }}</td>
                                <td class="p-1">{{ recurAc.bajaHasta }}</td>
                                <td class="p-1">{{ recurAc.idPlantilla }}</td>
                                <td class="p-1">{{ recurAc.idGrupoUsuariosAcceso }}</td>
                                <td class="p-1">{{ recurAc.aviso }}</td>


                            </tr>
                        </tbody>

                    </table>
                </div>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>

        <div #formTabUserSoft class="card card-warning ">
            <div class="card-header p-0">
                <div class="row">

                    <div class="col col align-self-end text-right">

                        <button type="submit" class=" btn btn-sm  shadow-none" aria-label="Ocultar formulario"
                            name="Ocultar formulario" role="button" (click)="hideForm()">
                            <i class="fa fa-eye-slash"></i>

                        </button>
                    </div>
                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="card border-info mb-3">

                            <div class="form-group  ">
                                <div>
                                    <div class="row">
                                        <div class="col-10 ml-2">
                                            <label for="exampleFormControlSelect2">Usuario</label>
                                        </div>
                                    </div>
                                </div>
                                <select name="multipleSelect" class="form-control border-0 my-select selectpicker"
                                    data-live-search="true" id="multipleSelect">
                                    <option data-tokens="option-1" value="option-1">Option 1</option>
                                    <option data-tokens="option-2" value="option-2">Option 2</option>
                                    <option data-tokens="option-3" value="option-3">Option 3</option>
                                </select><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card border-info mb-3">

                            <div class="form-group ">
                                <div class="row justify-content-between">
                                    <div class="col-4 ml-2 ">
                                        <label for="exampleFormControlSelect2">Llaves</label>
                                        <input type="text" [(ngModel)]="pruebita.dni" class="form-control" id="validationCustom02">
                        
                                    </div>
                                    <div class="col-4 text-right ">
                                        <button type="button" class="btn btn-tool " data-toggle="button"
                                            aria-pressed="false" (click)="open()">
                                            <i class="fas fa-plus-circle text-success"></i>
                                        </button>

                                    </div>


                                </div>
                                <select multiple class="form-control border-0" id="exampleFormControlSelect2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card border-info mb-3">

                            <div class="form-group ">
                                <div class="row justify-content-between">
                                    <div class="col-4 ml-2">
                                        <label for="exampleFormControlSelect2">Grupo</label>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button type="button" class="btn btn-tool " data-toggle="button"
                                            aria-pressed="false">
                                            <i class="fas fa-plus-circle text-success"></i>
                                        </button>

                                    </div>


                                </div>
                                <select multiple class="form-control border-0" id="exampleFormControlSelect2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>