<div class="">
	<div class="">
		<h5><i class="fa fa-map-pin"></i> <span>Añadir o modificar alerta</span></h5>
	</div>
	<div class="">
	<div class="capitalSmall" style="display:block; border-bottom:1px solid #ccc">Sobre alerta</div>
<div class="row">
	<div class="col-lg-6">

   <!-- <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>

      <div class="col-sm-9">
        <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />
      </div>
    </div>-->


    <div class="form-group row">
			<label class="col-form-label col-md-3">Texto</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput type="text" placeholder="Texto" name="texto" [(ngModel)]="texto" >
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date"  >
        </mat-form-field>
				<!--<input class="form-control" placeholder="Texto" type="text" name="texto" [(ngModel)]="texto" autocomplete="off" />-->
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">Nombre</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput placeholder="Nombre" type="text" name="nombre" [(ngModel)]="nombre"  >
        </mat-form-field>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group row">
			<label class="col-form-label col-md-3">Activo</label>
			<div class="col-md-9">
				<label class="switch switch-label switch-outline-primary-alt">
<!--				<input type="checkbox" class="switch-input" checked="" name="active" [(ngModel)]="active">
				<span class="mat-slide-toggle" data-checked="SÍ" data-unchecked="NO"></span>-->

          <mat-slide-toggle
            class="example-margin"
            [(ngModel)]="active">
            Slide me!
          </mat-slide-toggle>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="capitalSmall" style="display:block; border-bottom:1px solid #ccc; margin-top:20px;">Sobre la alerta</div>
<div class="row">

	<div class="col-lg-6">
		<div class="form-group row">
			<label class="col-form-label col-md-3">tipoRecurso</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput placeholder="tipoRecurso" type="text" name="tipoRecurso" [(ngModel)]="tipoRecurso" >
        </mat-form-field>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-md-3">estadoConexion</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput  placeholder="estadoConexion" type="text" name="estadoConexion" [(ngModel)]="estadoConexion"  >
        </mat-form-field>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">destino</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput  placeholder="destino" type="text" name="destino" [(ngModel)]="destino"  >
        </mat-form-field>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">colorFondo</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput placeholder="colorFondo" type="text" name="colorFondo" [(ngModel)]="colorFondo"  >
        </mat-form-field>

			</div>
		</div>

	</div>
	<div class="col-lg-6">
		<div class="form-group row">
			<label class="col-form-label col-md-3">estadoOperativo</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput  placeholder="estadoOperativo" type="text" name="estadoOperativo" [(ngModel)]="estadoOperativo" >
        </mat-form-field>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">nombreDinamico</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput placeholder="nombreDinamico" type="text" name="nombreDinamico" [(ngModel)]="nombreDinamico"  >
        </mat-form-field>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">numColumnas</label>
			<div class="col-md-9">
        <mat-form-field>
          <input matInput  placeholder="numColumnas" type="text" name="numColumnas" [(ngModel)]="numColumnas"   >
        </mat-form-field>

			</div>
		</div>

	</div>
</div>













	</div>
	<div class="">
    <button type="button" class="btn btn-success" (click)="onAcceptButton()" style="margin-right:20px;">Guardar</button>
    <button type="button" class="btn btn-secondary floatRight" (click)="onCancelButton()">Cancelar</button>
	</div>
</div>
