<ng-container >
    


    <div class="btn-group" role="group" aria-label="Basic example">
        <button [routerLink]="['home/usuarios']" routerLinkActive="router-link-active"  type="button" class="btn btn-secondary">Informe</button>
        <button [routerLink]="['home/alertas']" routerLinkActive="router-link-active"  type="button" class="btn btn-secondary">Test</button>
        <button [routerLink]="['home/usuarios']" routerLinkActive="router-link-active" type="button" class="btn btn-secondary">Config usuarios y llaves</button>
        <button type="button" class="btn btn-secondary">Informacion del sistema</button>
        <button type="button" class="btn btn-secondary">Configuracion avanzada</button>
        <button type="button" class="btn btn-secondary">ayuda</button>

    </div>
</ng-container>