<div class="wrapper">
  <app-navmenu [opcionMenu]="opcion"></app-navmenu>
  <app-sidebarhome [itemNavBar]="navItems"></app-sidebarhome>



  <ng-container>

    <router-outlet></router-outlet>

  </ng-container>

</div>