
@import '~bootstrap/scss/mixins/breakpoints';

// @import '/src/assets/partials/themes';

:host nb-layout-header button:last-child {
    margin-left: auto;
}

.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
  }


// @include nb-install-component() {
//   .menu-sidebar ::ng-deep .scrollable {
//     padding-top: nb-theme(layout-padding-top);
//   }
// }
