.myButton-armar {
	-moz-box-shadow: 0px 1px 17px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 17px 0px #f0f7fa;
	box-shadow: 0px 1px 17px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-webkit-border-radius:19px;
	-moz-border-radius:19px;
	border-radius:19px;
	border:2px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:15px;
	font-weight:bold;
	padding:22px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	margin-right: 25px;;
}

.myButton-armar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.myButton-armar:active {
		position:relative;
		top:1px;	
}
.myButton-autori {
	background: #00FFC3;
	background-image: -webkit-linear-gradient(top, #00FFC3, #1D80B8);
	background-image: -moz-linear-gradient(top, #00FFC3, #1D80B8);
	background-image: -ms-linear-gradient(top, #00FFC3, #1D80B8);
	background-image: -o-linear-gradient(top, #00FFC3, #1D80B8);
	background-image: linear-gradient(to bottom, #00FFC3, #1D80B8);
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding:22px 24px;

	-moz-box-shadow: 0px 1px 17px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 17px 0px #f0f7fa;
	box-shadow: 0px 1px 17px 0px #f0f7fa;

	
	border: solid #415289 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	
	}
	
.myButton-autori:hover {
	border: solid #0059A0 2px;
	background: #1D80B8;
	background-image: -webkit-linear-gradient(top, #1D80B8, #00FFC3);
	background-image: -moz-linear-gradient(top, #1D80B8, #00FFC3);
	background-image: -ms-linear-gradient(top, #1D80B8, #00FFC3);
	background-image: -o-linear-gradient(top, #1D80B8, #00FFC3);
	background-image: linear-gradient(to bottom, #1D80B8, #00FFC3);
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	text-decoration: none;
}