<div>
 
    <img class="" style="height: 40px;
    width: 40px" src="assets\img\btn.png" />
 
  <button type="button" class="myButton-autori">
    <img class="" style="height: 25px;
    width: 25px" src="assets\img\btn.png" />
  </button>
  <button type="button" class="myButton">
    <img class="" style="height: 25px;
    width: 25px" src="assets\img\btn.png" />
  </button>
  
</div>