<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5 class="m-0">Usuarios Software</h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Tool</a></li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active">Soft. User</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="content">
    <section class="content">
      <div class="card">

        <!-- /.card-header -->
        <div class="card-body">
          <p>
            <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
              Rerenderrrrrrrrrrr
            </button>
          </p>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  id="example1"
            class="table row-border table-hover dataTable dtr-inline compact">
            <thead>
              <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Apellidos</th>
                <th>Tipo usuario</th>
                <th>F.Nacimiento</th>
                <th>Domicilio</th>
                <th>Población</th>
                <th>Provincia</th>
                <th>CP</th>
                <th>Tlf.1</th>
                <th>Tlf.2</th>
                <th>EXT.1</th>
                <th>EXT.2</th>
                <th>F.Modificacion</th>
                <th>Departamento</th>
                <th>Empresa</th>
                <th>Recinto</th>
                <th>Vehiculo</th>
                <th>Usuario</th>
                <th>F.Alta</th>
                <th>codigo</th>
                <th>Confidencial</th>
                <th>Observaciones</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuariosAcceso" onclick="">
                <td class="p-1">{{ usuario.pkfkid }}</td>
                <td class="p-1">{{ usuario.dni }}</td>
                <td class="p-1">{{ usuario.apellidos }}</td>
                <td class="p-1">{{ usuario.tipoUsuario }}</td>
                <td class="p-1">{{ usuario.fechaNacimiento }}</td>
                <td class="p-1">{{ usuario.domicilio }}</td>
                <td class="p-1">{{ usuario.poblacion }}</td>
                <td class="p-1">{{ usuario.provincia }}</td>
                <td class="p-1">{{ usuario.codigoPostal }}</td>
                <td class="p-1">{{ usuario.telefono1 }}</td>
                <td class="p-1">{{ usuario.telefono2 }}</td>
                <td class="p-1">{{ usuario.extension1 }}</td>
                <td class="p-1">{{ usuario.extension2 }}</td>
                <td class="p-1">{{ usuario.fechaModificacion }}</td>
                <td class="p-1">{{ usuario.fkidDept }}</td>
                <td class="p-1">{{ usuario.empresa }}</td>
                <td class="p-1">{{ usuario.idrecinto }}</td>
                <td class="p-1">{{ usuario.matriculaVehiculo }}</td>
                <td class="p-1">{{ usuario.nombreUsrAcceso }}</td>
                <td class="p-1">{{ usuario.fechaAltaUsuario }}</td>
                <td class="p-1">{{ usuario.codigo }}</td>
                <td class="p-1">{{ usuario.confidencial }}</td>
                <td class="p-1">{{ usuario.observaciones }}</td>

              </tr>
            </tbody>

          </table>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-sm btn-block" (click)="userNew()">Nuevo usuario</button>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>

    <div #formTabUserSoft class="card card-warning d-none ">
      <div class="card-header p-0">
        <div class="row">
          
          <div class="col col align-self-end text-right">

            <button type="submit" class=" btn btn-sm  shadow-none" aria-label="Ocultar formulario" name="Ocultar formulario" role="button"
              (click)="hideForm()">
              <i class="fa fa-eye-slash"></i>

            </button>
          </div>
        </div>



      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form #userSoft="ngForm">
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="card card-widget widget-user-2 ">
                <div class="widget-user-header bg-info ">

                  <div class="row pb-1 ">
                    <div class=" col-12 col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-self-center">
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2 " src="./assets/img/user.jpg" alt="Foto usuario">
                      </div>
                    </div>

                    <div class=" col-12 col-xs-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                      <h6 name="id" class="widget-user-desc ml-0">
                        <input name="pkfkid" type="text" class="form-control sinborde form-control-sm"
                          disabled="disabled" [(ngModel)]="rowdata.pkfkid">
                      </h6>
                      <div class="form-group">
                        <input name="dni" type="text" class="form-control form-control-sm" required [(ngModel)]="rowdata.dni"
                          placeholder="DNI" >
                        <input name="apellidos" type="text" class="form-control form-control-sm" placeholder="Apellidos" required
                          [(ngModel)]="rowdata.apellidos">
                      </div>

                    </div>
                  </div>



                  <div class="row">
                    <div class="col-12 col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <label class="col-form-label col-form-label-sm ">Tipo Usuario</label>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                      <input name="tipouser" type="text" class="form-control form-control-sm "
                        [(ngModel)]="rowdata.tipoUsuario">
                    </div>

                  </div>


                </div>
              </div>
              <div class="form-group">
                <!-- <label class="mb-0">Fecha nacimiento</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  <input name="fechanacimiento" type="text" class="form-control datetimepicker-input form-control-sm"
                    data-target="#reservationdate" [(ngModel)]="rowdata.fechaNacimiento" />
                  <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div> -->
                <label class="mb-0">Fecha nacimiento</label>
                <!-- <div class="input-group date " data-target-input="nearest" NgTempusdominusBootstrap>
                  <input class="form-control " [options]="calendarOptions" NgTempusdominusBootstrapInput type="text" />
                  <div class="input-group-append" NgTempusdominusBootstrapToggle>
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div> -->
                <input type="date" class="form-control" [(ngModel)]="rowdata.fechaNacimiento" >
              </div>

              <div class="form-group">
                <label class="mb-0 ">Domicilio</label>
                <input name="domicilio" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.domicilio"
                  placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Población</label>
                <input name="poblacion" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.poblacion"
                  placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Provincia</label>
                <input name="provincia" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.provincia"
                  placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">CP</label>
                <input name="cp" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.codigoPostal"
                  placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Teléfono</label>
                <input name="telefono" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.telefono1"
                  placeholder="Enter ...">

              </div>
              <!-- <div class="form-group">
                <label class="mb-0 mt-2">Teléfono 2</label>
                <input name="telefono2" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.telefono2"
                  placeholder="Enter ...">

              </div> -->
              <div class="form-group">
                <label class="mb-0 mt-2">Extensión 1</label>
                <input name="extension1" type="text" class="form-control form-control-sm"
                  [(ngModel)]="rowdata.extension1" placeholder="Enter ...">

              </div>


            </div>
            <div class="col-sm-6">
              <!-- <div class="form-group">
                <label class="mb-0">Extensión 2</label>
                <input name="extension2" type="text" class="form-control form-control-sm"
                  [(ngModel)]="rowdata.poblacion" placeholder="Enter ...">

              </div> -->
              <div class="form-group">
                <label class="mb-0 mt-2">Fecha Modificación</label>
                <input name="fechamod" type="text" class="form-control form-control-sm"
                  [(ngModel)]="rowdata.fechaModificacion" placeholder="Enter ...">

              </div>


              <div class="form-group">
                <label class="mb-0 mt-2">Departamento</label>
                <input name="depart" type="text" class="form-control form-control-sm" required [(ngModel)]="rowdata.fkidDept"
                  placeholder="Enter ...">

              </div>

              <div class="form-group">
                <label class="mb-0 mt-2">Empresa</label>
                <input name="empresa" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.empresa"
                  placeholder="Enter ...">

              </div>

              <div class="form-group">
                <label class="mb-0 mt-2">Recinto</label>
                <input name="recinto" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.idrecinto"
                  placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Matricula Vehículo</label>
                <input name="matricula" type="text" class="form-control form-control-sm"
                  [(ngModel)]="rowdata.matriculaVehiculo" placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Usuario Acceso</label>
                <input name="usuario" type="text" class="form-control form-control-sm" required
                  [(ngModel)]="rowdata.nombreUsrAcceso" placeholder="Enter ...">

              </div>

              <div class="form-group">
                <label class="mb-0 mt-2">Fecha Alta</label>
                <input name="fechaAlta" type="text" class="form-control form-control-sm"
                  [(ngModel)]="rowdata.fechaAltaUsuario" placeholder="Enter ...">

              </div>
              <div class="form-group">
                <label class="mb-0 mt-2">Código</label>
                <input name="codigo" type="text" class="form-control form-control-sm" required [(ngModel)]="rowdata.codigo"
                  placeholder="Enter ...">

              </div>

              <div class="form-group">
                <label class="mb-0 mt-2">confidencial</label>
                <input name="confi" type="text" class="form-control form-control-sm" [(ngModel)]="rowdata.confidencial"
                  placeholder="Enter ...">

              </div>

              <div class="form-group">
                <label class="mb-0 mt-2">Observaciones</label>
                <textarea name="obser" class="form-control form-control-sm" rows="3" [(ngModel)]="rowdata.observaciones"
                  placeholder="Enter ..."></textarea>

              </div>



            </div>
          </div>

          <div class="card-footer">
            <div class="row">

              <div class="col-4">
                <button #deleteForm  class="btn-sm btn-danger " (click)="alertWithDelete(rowdata.pkfkid)">
                  <i class="fa fa-trash-o"></i>
                </button>
                <button #resetForm  class="btn-sm btn-success invisible" >
                  <i class="fa fa-refresh "></i>
                </button>
              </div>
              <div class="col-4 text-right ">
                <button #editForm  class="btn-sm btn-warning" (click)="nuevo=false">
                  <i class="fa fa-pencil-square-o"></i>Editar
                </button>
              </div>
              <div class="col-4 ">
                <button #saveForm type="submit" class="btn-sm btn-success " (click)="save()">
                  <i class="fa fa-floppy-o"></i>
                  Guardar
                </button>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
