
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';



// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $angular-admin-lte-demo-primary: mat-palette($mat-indigo);
// $angular-admin-lte-demo-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $angular-admin-lte-demo-warn: mat-palette($mat-red);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $angular-admin-lte-demo-theme: mat-light-theme((
//   color: (
//     primary: $angular-admin-lte-demo-primary,
//     accent: $angular-admin-lte-demo-accent,
//     warn: $angular-admin-lte-demo-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($angular-admin-lte-demo-theme);

/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~primeicons/primeicons.css" ;
@import "~primeng/resources/primeng.min.css";
@import '~bootstrap/scss/bootstrap';
/* @import "./assets/partials/sidebar"; */
@import "./assets/partials/variables"; 
// @import "./assets/partials/themes";


@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~bootstrap-utilities/bootstrap-utilities.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~prismjs/themes/prism-tomorrow.css";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./node_modules/bootstrap/scss/bootstrap";







.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

.content-wrapper, .main-footer{
  margin-left: 0px;
}

/************************************************/
body{
  background-color: #F9FAFC;
}

.box-body{
  padding: 0 !important;
  width: max-content;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.padding-box{
  padding: 0px 4px !important;
}
.padding-menu{
  padding: 2px 2px !important;
  /* font-size: 13px !important; */
}
.aling-components{
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-menu{
  margin-right: 5px !important;
}
/* .navbar-nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
} */

.btn-menu {
  color: #686868 !important;
  background-color: #f9fafc !important;
  // height: 56px;
  font-weight:300;
  border-top: 0 ;
  border-left: 0;
  border-right: 0;
  font-size: 1em;
  border-bottom-width: 2px !important;

}
.ajustar-menu{
  margin-top: 1%;
}




/* .main-header {
  //position: relative;
  //max-height: 100px;
  //z-index: 1030;
  //height: 22px;
  

  .logo{
    color: #ffffff;
    border-bottom: 0 solid transparent;
    
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    font-size: 15px;
    height: 22px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    font-weight: 300;
    overflow: hidden;
    line-height: unset;
  }
  .navbar{
    height: 22px;
    min-height: 0px;
    
  }
} */


.show{
  display: inline-block !important;
  font-size: 1em;
}
.princi{
  width: auto !important;
}
/*.sidebar-right-toggle[_ngcontent-vyd-c1] a[_ngcontent-vyd-c1] {
  padding: 0px !important;
}*/
/**************************************************/

.chat-container{
  width: 10%;
  height: 100%;
}
.chat{
  text-align: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid grey;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13px;
  z-index: 1040;

}
.send-button{
  margin: 0 auto;
  height: 70%;
  width: 50%;
}
input{
  float: right;
  height: 25px;
  /*border-radius: 15px;*/
  font-size: 1.5em;
}
.send{
  float: right;
  background-color: red;
  height: 30px;
  width: 30px;
  margin-left: 5px;

}
.color-vigilado {
  width: 15px;
  height: 15px;
  background: #00ff00;
}
.color-autcerrado {
  width: 15px;
  height: 15px;
  background: #ffff00;
}
.color-autabierto {
  width: 15px;
  height: 15px;
  background: #00fff0;
}
.color-alarma {
  width: 15px;
  height: 15px;
  background: #ff0000;
}
.color-sabotaje {
  width: 15px;
  height: 15px;
  background: #ff50e1;
}
.color-inhibido {
  width: 15px;
  height: 15px;
  background: #00007f;
}
.color-sinconexion {
  width: 15px;
  height: 15px;
  background: #808080;
}
.caja{
  border: 1px solid rgba(0,0,0,.38);
  background-image: url(./assets/img/logo_grupoOKpeq.png);
  background-size: cover ;
  background-position: center;
  width: 160px;
  height: 106px;
  margin-bottom: 5%;
  text-align: center;
  padding-top: 85px
}
.center-content{
  text-align: -webkit-center;
}
.prueba{
  background-color: #00ff00 !important;
}
// html, body { height: 100%; }
// body {
//    margin: 0;
//    font-family: "Roboto", sans-serif !important;
//   }

//  @media (min-width : 768px) {
//    /* STYLES GO HERE */
//    body {
//      overflow-y: hidden;
//    }

// }
.box {
  // position: fixed;
  border-radius: 3px;
  background: transparent;
  border-top: 0px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
.menu_princi{
  /* height: 56px; */
  padding: 0 !important;

}

.style-menu{

  font-weight: 300 !important;
  text-align: -webkit-center;


}

.btn-group{
  float: none !important;
  padding: 0 3px 0 3px;
}




.btn-primary{
  border-color: transparent;
  border-bottom-color:transparent !important
}


/* girar icono al hacer click en el bottom */
.btn-group.open .dropdown-toggle >fa-icon.flecha >svg{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

}
.flecha{
  margin-left: 5px;
}

.icon-size-menu{
  font-size: 1.25em;
  margin-right: 10px;
}


.btn-login{
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 11px;
  text-align: right;
}
.btn-login > fa-icon{
  color: white;
}

#dropdown-login.dropdown-menu{
  left: -139px;
}
/* .container-fluid>.row{
  text-align:-webkit-center ;
  text-align: center;

} */
.container-fluid>.main-sidebar{


  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: max-content;


}

.container-fluid>#mainsidebar{
  float: left;
  height: 100%;
  padding-top: 50px;
  min-height: 100%;
  border-right: 1px solid #d2d6de;
  background-color: rgba(71,89,150,0.5);
}


 .wrapper {
  height: 100%;

  main {
    display: flex;
    height: 100%;

    .sidebar-content{
      z-index: 100;
    }

    .pages {
      overflow: auto;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      opacity: .7;
      display: none;

      &.show {

        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
  &.toggeled-sidebar {
    main {
      .overlay {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}



 .mia{
   overflow-y:scroll;
   max-height: 200px;
 }

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



div.node-wrapper{
  align-items: center !important;
 
}
span.toggle-children{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAE0AAABNABiiVDWwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADESURBVDiNndM9SkNREIbh59q4lkBI4QbSWKSwCaRQjLW4IusUIe4hnWsIuI9AIvnj2BzhOpjrmIEphsN5+Wa+GaUU34kelvjAQ/vtXAqABUorn/8CXPkZ+1C/Nk3zpCuCggHWQcURk1QLFTLENkD2uEsBKmSEXYB84jYFqJBxld+GbHCTAlTIFKcAeetyIROHsy4kWlhjcOkQtxheauMOo8wq/7ZIB4yztzALn094/M8tXIf6pZQy7/QkKOjjHSvcZ875C0LnwEzJ/bK/AAAAAElFTkSuQmCC) !important;
}
div.node-content-wrapper{
  width: 90%;
}
tree-node-expanded{
  width: 10%;

}
.node-content-wrapper-focused { background: transparent }
.node-content-wrapper:hover { background: transparent }
.node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
  background:transparent;
  color: #000000 !important;
}

.nav-pills {
  .nav-link {
   

    &:not(.active):hover {
      color: #000000;
    }
  }

}


// modal
.modal-open{
  overflow: inherit !important;
}